.box{
  width: 100px;
  height:100px;
  position: absolute;left:100px;top:100px;
  background: red;
  /* transition: 0.5s ease all; */
}

.box2{
  width: 100px;
  height:100px;
  position: absolute;left:100px;top:250px;
  background: blue;
  /*transition: 0.5s ease all;*/
}